ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/*por tipo de parrafo*/
p{
  color: red;
}

/*por clase*/
.note
{
  font-size: 20px;
}

/*por id*/
#id-selector-demo{
  color: green;
}

/*por valores*/
li[value="4"]{
  color: blue;
}

/*todo el html*/
*{
  text-align: center;
}


